.navbar {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    overflow: hidden;
}

.navbar.active{
    transition-duration: 0.3s;
    background-color: rgba(128,128,128, 0.4);
}

.navbar li {
    display: inline-block;
    list-style: none;
    padding: 2vh 1.5vw;
}

.navbar a {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.navbar a:hover {
    transition-duration: 0.3s;
    color: rgb(32, 80, 112);
}
